body {
  margin: 0;
  padding: 0;
  color: black;
  font-family: sans-serif;
}
 
.contenedor-acciones {
  padding: 0.5rem;
  border-radius: 1rem;   
}

.buscador {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: left;
}

.dropdown-content li>span {
  color: black;
} 
 
.enviar input[type="submit"] {
  width: 100%;
} 

.site-footer
{
  background-color:#e57373; 
  padding:45px 0 20px;
  font-size:15px; 
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;  
} 
.site-footer h6
{
  color:#fff;
  font-size:16px;  
  letter-spacing:2px
}    

td.less{
  color: red !important; 
  font-size:17px !important; 
}

td.more{
  color: rgb(26, 95, 8) !important; 
  font-size:17px !important; 
}